$rob: 'Source Code Pro', sans-serif;


$baseColor:#fff;
$baseColorLight: #1c20e7;
$dip: #ff00c8;
$pfont: #1114cf; 
$varbody: #444444;
$white: #fff;
$shadow: rgba(68, 88, 144, 0.12);
$shadow2:rgba(0, 0, 0, 0.1);
$title-color: #0004ff;
$round: #fdeff2;
$vartexto: #5b6172;
$varspan: #aaaaaa;
$varpink: #f0497b;
$varhero:rgba(0, 0, 0, 0.6);
$varbasic: black;
$vardestacado:#ff002f;
$lightcoral: lightcoral;
$lightcoralgrad: rgb(240, 164, 164);



@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');





